<?xml version="1.0" encoding="UTF-8"?>

<suite name="EventBrist Smoke Suite" parallel="classes" thread-count="1">
	
	<parameter name="environment" value="config.properties" />
	<parameter name="browser" value="Chrome" />
	<listeners>
		<listener
			class-name="com.test.epam.Eventbrite.Report.ExtentTestNGIReporterListener" />
	</listeners>
	<test name="EventBrite_Event_Test">
		<classes>
			<class name="com.test.epam.Eventbrite.Events.EventAPITestClass"/>
				
		</classes>
	</test>
	
</suite>
